$bodyColor: #ffff;

body {
  background-image: url(../img/bg.jpg);
  background-attachment: fixed;
  background-size: auto;
  justify-content: center;
  background-color: #000000;
  color: $bodyColor;
  font-family: Montserrat, sans-serif;
  text-align: center;
}

.link {
  color: #ffffff;
  text-decoration: overline;
}

.link:hover {
  text-shadow: 0 0 20px #C5F2FF;
}

.locks {
  text-transform: uppercase;
}

.petit {
  width: 75%;
  max-width: 400px;
  height: auto;
  border-radius: 5px;
}

.footer {
  background-image: url(../img/bg.jpg);
  background-attachment: fixed;
  background-size: auto;
  justify-content: center;
  border-radius: 1px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.header {
  text-align: center;
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 3px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

.enter {
  text-transform: uppercase;
  margin-bottom: 40px;
}

.space {
  margin-left: 8em;
  margin-bottom: 3em;
}

.left {
  text-align: left;
}

.content {
  margin-right: 24%;
}

hr {
  margin: 0 44% 0 6%;
}

.foot {
  margin-bottom: 10em;
}
